// MEDIA PRESETS
$desktop-width: 1000px;
$tablet-width: 600px;

// GENERAL
$main-text: hsla(0, 0%, 80%, 100%);
$supporting-text: hsla(0, 0%, 50%, 100%);

$overlay: hsla(0, 0%, 0%, 50%);

// HOME
$input-box: hsla(0, 0%, 0%, 50%);

$green-btn-home: hsla(126, 40%, 40%, 100%);
$green-btn-loading: hsla(126, 0%, 40%, 100%);
$green-btn-home-hover: hsla(126, 40%, 38%, 100%);

$grey-btn: hsla(0, 0%, 30%, 100%);
$grey-btn-hover: hsla(0, 0%, 28%, 100%);

$red-warning-txt: hsla(360, 50%, 50%, 100%);
$green-success-txt: hsla(126, 100%, 35%, 100%);

$btn-txt: hsla(0, 0%, 100%, 100%);
$btn-txt-hover: hsla(0, 0%, 90%, 100%);

// GAME - BUTTONS
$drop-shadow: hsla(0, 0%, 0%, 25%);

$green-btn-top: hsla(126, 100%, 35%, 100%);
$green-btn: hsla(126, 100%, 25%, 100%);
$green-btn-bottom: hsla(126, 100%, 20%, 100%);
$green-btn-hover: hsla(126, 100%, 23%, 100%);

$silver-btn-top: hsla(202, 15%, 60%, 100%);
$silver-btn: hsla(202, 15%, 50%, 100%);
$silver-btn-bottom: hsla(202, 15%, 40%, 100%);
$silver-btn-hover: hsla(202, 15%, 48%, 100%);

$gold-btn-top: hsla(36, 56%, 60%, 100%);
$gold-btn: hsla(36, 56%, 50%, 100%);
$gold-btn-bottom: hsla(36, 56%, 40%, 100%);
$gold-btn-hover: hsla(36, 56%, 48%, 100%);

$red-btn-top: hsla(360, 100%, 35%, 100%);
$red-btn: hsla(360, 100%, 25%, 100%);
$red-btn-bottom: hsla(360, 100%, 20%, 100%);
$red-btn-hover: hsla(360, 100%, 23%, 100%);

$rules: hsla(0, 0%, 25%, 100%);
$rules-btn: hsla(0, 0%, 50%, 50%);
$rules-btn-hover: hsla(0, 0%, 47%, 50%);
$rules-btn-txt: hsla(0, 0%, 100%, 100%);

$rules-close-btn: hsla(0, 0%, 35%, 100%);
$rules-close-btn-hover: hsla(0, 0%, 33%, 100%);
$rules-close-btn-border: hsla(0, 0%, 23%, 100%);


// GAME - DIGITAL DISPLAY
$digital-display-header: hsla(0, 0%, 20%, 100%);
$digital-display-header-txt: hsla(0, 0%, 100%, 100%);

$digital-display-border: hsla(0, 0%, 20%, 100%);
$digital-display-border-middle: hsla(0, 0%, 15%, 100%);
$digital-display-border-bottom: hsla(0, 0%, 10%, 100%);

$digital-display-inner: hsla(0, 0%, 6%, 100%);
$digital-display-blank-txt: hsla(0, 0%, 20%, 100%);
$digital-display-red-txt: hsla(0, 100%, 50%, 100%);